/* Navigation buttons */
.mwe-recwiz-right {
    float: right;
}

.mwe-recwiz-clear {
    clear: both;
}

.mwe-recwiz-buttons {
    margin-top:1em;
}

#mwe-recwiz-tutorial-activate {
	font-size: 1.5em;
	text-align: center;
	width: 100%;
}
#mwe-recwiz-tutorial-activate .mwe-recwiz-no-microphone {
	display: block;
	margin: auto;
}

/* Microphone tester */
#mwe-recwiz-tutorial-mictester {
	width: 80%;
	text-align: center;
	margin: 25px auto 25px;
}

#mwe-recwiz-tutorial-mictester .oo-ui-buttonWidget {
	font-size: 1.5em;
}

#mwe-recwiz-tutorial-mictester .mwe-recwiz-tutorial-mictester-help {
	text-align: left;
	width: intrinsic;           /* Safari/WebKit uses a non-standard name */
	width: -moz-max-content;    /* Firefox/Gecko */
	width: -webkit-max-content; /* Chrome */
	margin: auto;
}

#mwe-recwiz-tutorial-mictester .mwe-recwiz-tutorial-mictester-help ol {
	margin-bottom: 0.25rem;
}

#mwe-recwiz-tutorial-mictester .mwe-recwiz-tutorial-mictester-state {
	font-size: 1.5em;
	font-style: italic;
}

#mwe-recwiz-tutorial-mictester .mwe-recwiz-tutorial-mictester-state img {
	margin-right: 5px;
}


#mwe-recwiz-stepdiv-details .mwe-recwiz-nearby .oo-ui-textInputWidget {
    max-width: 10em;
}

#mwe-recwiz-stepdiv-details .mwe-recwiz-nearby .oo-ui-fieldLayout-header label {
    font-weight: bold;
    font-size: 1.1em;
}
#mwe-recwiz-stepdiv-details .mwe-recwiz-wordSelectorWidget {
	max-width: 100%;
}

.mwe-recwiz-nearby-coordinates .oo-ui-textInputWidget {
	width: 32%;
}

.mwe-recwiz-qualifier {
    font-size: 75%;
    color: #EEEEEE;
}
.mwe-recwiz-qualifier::before {
    content: " (";
}
.mwe-recwiz-qualifier::after {
    content: ")";
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.mwe-recwiz-increment {
    margin-left: 5em;
}

.mwe-recwiz-spinner {
	animation: spinner 1.5s linear infinite;
}

#mwe-recwiz-spinner {
	width:40px;
	height:150px;
	line-height:150px;
	margin: auto;
}

.mwe-recwiz-generator-wmcategory-source {
	display: flex;
}

.mwe-recwiz-generator-wmcategory-langdropdown {
	max-width: 110px !important;
	display: inline-flex;
}

.mwe-recwiz-generator-wmcategory-projectdropdown {
	display: inline-flex;
}

#mwe-recwiz-stepdiv-publish li {
    position: relative;
}

#mwe-recwiz-stepdiv-publish li:after {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

#mwe-recwiz-stepdiv-publish li.mwe-recwiz-uploading:after,
#mwe-recwiz-stepdiv-publish li.mwe-recwiz-uploaded:after,
#mwe-recwiz-stepdiv-publish li.mwe-recwiz-finalizing:after {
  content: url( images/Spinner_font_awesome.svg );
  animation: spinner 1.5s linear infinite;
}

#mwe-recwiz-stepdiv-publish li.mwe-recwiz-done:after {
  content: url( images/Ok_sign_font_awesome_green.svg );
}

#mwe-recwiz-stepdiv-publish li.mwe-recwiz-error:after {
  content: url( images/Exclamation_sign_font_awesome_red.svg );
}

.recordWizard-title {
	font-size: 1.1em;
}

.studio {
    margin: 0;
    padding: 0;
}
.studio-head {
    position:relative;

   /* width: 400px;*/
    height: 150px;
    margin: 0;
    padding: 0;
    margin: auto;
}

.studio-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

.studio-rbutton {
    position: relative;
    z-index: 4;
    margin: auto;
    border: 10px solid #404040;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
}

.studio-rec .studio-rbutton {
    border: 10px solid #232323;

    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.studio-rbutton-inner, .studio-rbutton-inner:hover {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 0;
    text-align: center;
    /* @embed */
    background-image: url( images/ll-logo-white.svg );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80px auto;
    background-color: rgb(214, 214, 214);
}

.studio-rbutton-inner::-moz-focus-inner {
    border: 0;
}

.studio-ready .studio-rbutton-inner {
    background-color: #d8938a;
}

.studio-ready .studio-rbutton-inner:hover {
    background-color: #ce8177;
}

.studio-ready.studio-rec .studio-rbutton-inner {
    background-color: #d12c17;
}

.studio-logo {
    position: relative;
    top: 6px;
    width: 80px;
    height: 80px;
}

.studio-wordlist {
    border: 1px solid #909090;
    margin: 0;
    margin-top: 1em;
    padding: 0px;
    max-height: 225px;
    overflow-y: auto;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.studio-wordlist li {
    position:relative;
    color: #fff;
    padding: 10px;
    list-style: none;
    margin: 5px;

    background-color: #80befc;
}

.studio-wordlist li.studio-wordlist-selected {
    border: 2px solid black;
    background-color: #3399FF;
    padding: 8px;
}

.studio-wordlist li.mwe-recwiz-word-stashed {
    background-color: #2de552;
}

.studio-wordlist li.mwe-recwiz-word-stashing {
    background-color: #7ce291;
}

.studio-wordlist li.mwe-recwiz-word-error {
    background-color: tomato;
}

canvas.mwe-recwiz-wordcanvas {
    position: absolute;
    top: -2px; /* to compensate the border of 2px */
    left: 0px;
}

.hidden {
    display: none;
}

@keyframes pulse{
    0%{
        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
}

/* Video studio */
#mwe-recwiz-stepdiv-studio .studio-video-player {
	display: flex;
	margin: auto;
	margin-bottom: 20px;
	position: relative;
	width: -moz-fit-content;
	width: -webkit-fill-available;
	width: -webkit-fit-content;
	width: fit-content;
}

#mwe-recwiz-stepdiv-studio .studio-video-player video {
	width: 640px;
	box-shadow: 0 0 .5rem #777;
	border-radius: .2rem;
}

#mwe-recwiz-stepdiv-studio .studio-video-player .studio-video-overlay {
	position: absolute;
	bottom: 20%;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 2.5em;
	width: 100%;
}

/* ParametersButtonWidget */
.mwe-recwiz-settingsButtonWidget {
	position: absolute;
	right: 15px;
	font-family: sans-serif;
	z-index: 5;
}

.mwe-recwiz-settingsButtonWidget-popup .oo-ui-popupWidget-popup {
	padding: 3px 8px 8px 8px;
}

.mwe-recwiz-settingsButtonWidget-popup .oo-ui-labelElement-label.oo-ui-labelWidget,
.mwe-recwiz-settingsButtonWidget-popup .oo-ui-fieldLayout-header .oo-ui-labelElement-label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5em;
	font-size: 0.875em;
}

.mwe-recwiz-settingsButtonWidget-popup .oo-ui-fieldLayout.oo-ui-labelElement > .oo-ui-fieldLayout-body > .oo-ui-fieldLayout-header {
	padding-bottom: 0;
}

.mwe-recwiz-settingsButtonWidget-popup .oo-ui-fieldLayout-header .oo-ui-labelElement-label {
	color: #72777d;
}

.mwe-recwiz-settingsButtonWidget-popup .oo-ui-fieldLayout.oo-ui-labelElement {
	margin-top: 0.7em;
}

.mwe-recwiz-settingsButtonWidget-group + .mwe-recwiz-settingsButtonWidget-group {
    margin-top: 1em;
    border-top: 1px solid #a2a9b1;
    padding-top: 1em;
}

/***********************************
  Steps
***********************************/

/* wizard with arrows */

.mwe-recwiz-steps {
    background-color: white;
    padding: 0.2em 0em 0.2em 0.2em;
    margin-bottom: 15px;
	margin-left: 0;
    display: flex;
}

.mwe-recwiz-steps li {
    padding: 5px 12px 5px;
    position: relative;
    display: inline-block;
    min-width: 75px;
    margin-left: 7px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    background: #8BBFE6;
    flex: 1;
}

.mwe-recwiz-steps li:before {
    width: 0;
    height: 0;
    border-top: 15px inset transparent;
    border-bottom: 15px inset transparent;
    border-left: 15px solid #FFFFFF;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}


.mwe-recwiz-steps li:after {
    width: 0;
    height: 0;
    border-top: 15px inset transparent;
    border-bottom: 15px inset transparent;
    border-left: 15px solid #8BBFE6;
    position: absolute;
    content: "";
    top: 0;
    right: -15px;
    z-index: 2;
}

.mwe-recwiz-steps li:first-child:before,
.mwe-recwiz-steps li:last-child:after {
    border: none;
}

.mwe-recwiz-steps li:first-child {
    border-radius: 4px 0 0 4px;
    margin-left: 0;
}

.mwe-recwiz-steps li:last-child {
    border-radius: 0 4px 4px 0;
}

.mwe-recwiz-steps li.mwe-recwiz-current {
    background: #3E95D6;
}

.mwe-recwiz-steps li.mwe-recwiz-current:after {
    border-left-color: #3E95D6 !important;
}
