.mwe-recwiz-right {
    float: right;
}

.mwe-recwiz-clear {
    clear: both;
}

.mwe-recwiz-buttons {
    margin-top:1em;
}

.mwe-recwiz-volumeMetter-silent {
	background-color: #36c !important;
}

.mwe-recwiz-volumeMetter-active {
	background-color: #52B080 !important;
}

.mwe-recwiz-volumeMetter-saturate {
	background-color: #D55353 !important;
}

#mwe-recwiz-stepdiv-details .mwe-recwiz-nearby .oo-ui-textInputWidget {
    max-width: 10em;
}

#mwe-recwiz-stepdiv-details .mwe-recwiz-nearby .oo-ui-fieldLayout-header label {
    font-weight: bold;
    font-size: 1.1em;
}
#mwe-recwiz-stepdiv-details .mwe-recwiz-wordSelectorWidget {
	max-width: 100%;
}

.mwe-recwiz-nearby-coordinates .oo-ui-textInputWidget {
	width: 32%;
}

.mwe-recwiz-qualifier {
    font-size: 75%;
    color: #EEEEEE;
}
.mwe-recwiz-qualifier::before {
    content: " (";
}
.mwe-recwiz-qualifier::after {
    content: ")";
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.mwe-recwiz-increment {
    margin-left: 5em;
}

#mwe-recwiz-spinner {
	width:40px;
	height:150px;
	line-height:150px;
	margin: auto;
	animation: spinner 1.5s linear infinite;
}

#mwe-recwiz-stepdiv-publish li {
    position: relative;
}

#mwe-recwiz-stepdiv-publish li:after {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

#mwe-recwiz-stepdiv-publish li.mwe-recwiz-uploading:after,
#mwe-recwiz-stepdiv-publish li.mwe-recwiz-uploaded:after,
#mwe-recwiz-stepdiv-publish li.mwe-recwiz-finalizing:after {
  content: url( images/Spinner_font_awesome.svg );
  animation: spinner 1.5s linear infinite;
}

#mwe-recwiz-stepdiv-publish li.mwe-recwiz-done:after {
  content: url( images/Ok_sign_font_awesome_green.svg );
}

#mwe-recwiz-stepdiv-publish li.mwe-recwiz-error:after {
  content: url( images/Exclamation_sign_font_awesome_red.svg );
}

.recordWizard-title {
	font-size: 1.1em;
}

.studio {
    margin: 0;
    padding: 0;
}
.studio-head {
    position:relative;

   /* width: 400px;*/
    height: 150px;
    margin: 0;
    padding: 0;
    margin: auto;
}

.studio-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

.studio-rbutton {
    position: relative;
    z-index: 4;
    margin: auto;
    border: 10px solid #404040;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: white;
}

.studio-rec .studio-rbutton {
    border: 10px solid #232323;

    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.studio-rbutton-inner, .studio-rbutton-inner:hover {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 0;
    text-align: center;
    /* @embed */
    background-image: url( images/ll-logo-white.svg );
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80px auto;
    background-color: rgb(214, 214, 214);
}

.studio-rbutton-inner::-moz-focus-inner {
    border: 0;
}

.studio-ready .studio-rbutton-inner {
    background-color: #d8938a;
}

.studio-ready .studio-rbutton-inner:hover {
    background-color: #ce8177;
}

.studio-ready.studio-rec .studio-rbutton-inner {
    background-color: #d12c17;
}

.studio-logo {
    position: relative;
    top: 6px;
    width: 80px;
    height: 80px;
}

.studio-wordlist {
    border: 1px solid #909090;
    margin: 0;
    margin-top: 1em;
    padding: 0px;
    max-height: 225px;
    overflow-y: auto;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.studio-wordlist li {
    position:relative;
    color: #fff;
    padding: 10px;
    list-style: none;
    margin: 5px;

    background-color: #3399FF;
}

.studio-wordlist li.studio-wordlist-selected {
    text-decoration: underline;
    border: 1px dashed black;
}

.studio-wordlist li.mwe-recwiz-word-stashed {
    background-color: olivedrab;
}

.studio-wordlist li.mwe-recwiz-word-stashing {
    background-color: #FF3399;
}

.studio-wordlist li.mwe-recwiz-word-error {
    background-color: tomato;
}

canvas.mwe-recwiz-wordcanvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

.hidden {
    display: none;
}

@keyframes pulse{
    0%{
        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
}

/* Dynamic */

.studio-wordlist input {
    position:relative;
    color: #fff;
    padding: 10px;
    margin: 5px;

    background-color: rgba(51, 153, 255, 0.5);
    border: 0;
}


/***********************************
  Steps
***********************************/

/* wizard with arrows */

.mwe-recwiz-steps {
    background-color: white;
    padding: 0.2em 0em 0.2em 0.2em;
    margin-bottom: 15px;
	margin-left: 0;
    display: flex;
}

.mwe-recwiz-steps li {
    padding: 5px 12px 5px;
    position: relative;
    display: inline-block;
    min-width: 75px;
    margin-left: 7px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    background: #8BBFE6;
    flex: 1;
}

.mwe-recwiz-steps li:before {
    width: 0;
    height: 0;
    border-top: 15px inset transparent;
    border-bottom: 15px inset transparent;
    border-left: 15px solid #FFFFFF;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}


.mwe-recwiz-steps li:after {
    width: 0;
    height: 0;
    border-top: 15px inset transparent;
    border-bottom: 15px inset transparent;
    border-left: 15px solid #8BBFE6;
    position: absolute;
    content: "";
    top: 0;
    right: -15px;
    z-index: 2;
}

.mwe-recwiz-steps li:first-child:before,
.mwe-recwiz-steps li:last-child:after {
    border: none;
}

.mwe-recwiz-steps li:first-child {
    border-radius: 4px 0 0 4px;
    margin-left: 0;
}

.mwe-recwiz-steps li:last-child {
    border-radius: 0 4px 4px 0;
}

.mwe-recwiz-steps li.mwe-recwiz-current {
    background: #3E95D6;
}

.mwe-recwiz-steps li.mwe-recwiz-current:after {
    border-left-color: #3E95D6 !important;
}
