<h3>{{_ "mwe-recwiz-details-title"}}</h3>
<div class="mwe-rw-section-group">
	<section>
		<div id="mwe-rwd-input">
			{{& details.wordInput}}
			{{& details.wordButton}}
			<div id="mwe-rwd-input-help">{{__ "mwe-recwiz-details-help"}}</div>
		</div>
		<div id="mwe-rwd-list">

		</div>
		<div id="mwe-rwd-actions">
			{{& details.deduplicateButton}}
			{{& details.clearButton}}
		</div>
	</section>
	<section>

	</section>
</div>
