<div class="mwe-rw-content-title">
	<h3>{{_ "mwe-recwiz-details-title"}}</h3>
</div>
<div class="mwe-rw-section-group">
	<section>
		<div id="mwe-rwd-input">
			<ooui-textinput id="mwe-rwd-word" input-id="mwe-rwd-word-input" v-model="wordInputed" @enter="addWordFromInput" placeholder="{{__ "mwe-recwiz-details-placeholder"}}"></ooui-textinput>
			<ooui-button id="mwe-rwd-add" :invisible-label="true" icon="add" flags="primary progressive" @keyup.enter="addWordFromInput"  @click="addWordFromInput"></ooui-button>
			<div id="mwe-rwd-input-help">{{__ "mwe-recwiz-details-help"}}</div>
		</div>
		<ll-draggablelist v-model="words" id="mwe-rwd-list" @delete="clear"></ll-draggablelist>
		<div id="mwe-rwd-actions">
			<ooui-button id="mwe-rwd-deduplicate" label="{{__ "mwe-recwiz-details-deduplicate"}}" @click="deduplicate()"></ooui-button>
			<ooui-button id="mwe-rwd-clear" label="{{__ "mwe-recwiz-details-clear"}}" flags="destructive" @click="clearAll()"></ooui-button>
		</div>
	</section>
	<section>
		<div  id="mwe-rwd-lang-field">
			<label for="mwe-rwd-lang-input">{{&__ "mwe-recwiz-details-lang"}}</label>
			<ooui-dropdown id="mwe-rwd-lang" input-id="mwe-rwd-lang-input" :options="availableLanguages" v-model="metadata.language" @change="onLanguageChange()"></ooui-dropdown>
			<ooui-checkbox v-model="randomise" id="mwe-rwd-randomise"></ooui-checkbox> {{_ "mwe-recwiz-details-randomise"}}
		</div>
		<div id="mwe-rwd-generators-field">
			<h4>{{&__ "mwe-recwiz-details-inspiration"}}</h4>
			{{&__ "mwe-recwiz-details-generators"}}
			<div id="mwe-rwd-generator-buttons">
				<ooui-button v-for="generator in generators" :key="generator.name" :id="'mwe-rwd-generator-' + generator.name" :label="generator.title" :icon="generator.icon" @click="$windowManager.openWindow( generator.name )"></ooui-button>
			</div>
		</div>
	</section>
</div>
