<h3 class="mwe-rw-content-title">{{_ "mwe-recwiz-locutor-title"}}</h3>
<div class="mwe-rw-section-group">
	<section class="mwe-rw-warning">
		{{&__ "mwe-recwiz-locutor-warning"}}
	</section>
	<section>
		<div id="mwe-rwl-profile-field" class="mwe-rw-field" >
			<label for="mwe-rwl-profile-input">{{_ "mwe-recwiz-locutor-profile"}}</label>
			<ooui-dropdown id="mwe-rwl-profile" input-id="mwe-rwl-profile-input" :options="profiles" v-model="metadata.locutor.qid"></ooui-dropdown>
		</div>
		<div id="mwe-rwl-name-field" class="mwe-rw-field">
			<label for="mwe-rwl-name-input">{{_ "mwe-recwiz-locutor-name"}}</label>
			<ooui-textinput id="mwe-rwl-name" input-id="mwe-rwl-name-input" v-model="metadata.locutor.name" :disabled="metadata.locutor.name === config.locutor.name"></ooui-textinput>
		</div>
		<div id="mwe-rwl-gender-field" class="mwe-rw-field">
			<label for="mwe-rwl-gender-input">{{_ "mwe-recwiz-locutor-gender"}}</label>
			<ooui-buttonselect id="mwe-rwl-gender" input-id="mwe-rwl-gender-input" :options="genderOptions" v-model="metadata.locutor.gender"></ooui-buttonselect>
		</div>
		<div id="mwe-rwl-languages-field" class="mwe-rw-field">
			<label for="mwe-rwl-languages-input">{{_ "mwe-recwiz-locutor-languages"}}</label>
			<ll-langselector id="mwe-rwl-languages" input-id="mwe-rwl-languages-input" :options="availableLanguages" v-model="metadata.locutor.languages"></ll-langselector>
		</div>
		<div id="mwe-rwl-location-field" class="mwe-rw-field">
			<label for="mwe-rwl-location-input">{{_ "mwe-recwiz-locutor-location"}}</label>
			<ll-wdsearch id="mwe-rwl-location" input-id="mwe-rwl-location-input" v-model="metadata.locutor.location"></ll-wdsearch>
		</div>
		<div id="mwe-rwl-license-field" class="mwe-rw-field">
			<label for="mwe-rwl-license-input">{{_ "mwe-recwiz-locutor-license"}}</label>
			<div>
				<span v-html="licenseText"></span>
				<ooui-dropdown id="mwe-rwl-license" input-id="mwe-rwl-license-input" :options="availableLicenses" v-model="metadata.license"></ooui-dropdown>
				{{_ "mwe-recwiz-locutor-agreement"}}
			</div>
		</div>
	</section>
</div>
