<h3>{{_ "mwe-recwiz-locutor-title"}}</h3>
<div class="mwe-rw-section-group">
	<section class="mwe-rw-warning">
		{{&__ "mwe-recwiz-locutor-warning"}}
	</section>
	<section>
		<div id="mwe-rwl-profile-field" class="mwe-rw-field">
			<label for="mwe-rwl-profile-input">{{_ "mwe-recwiz-locutor-profile"}}</label>
			{{& locutor.profile}}
		</div>
		<div id="mwe-rwl-name-field" class="mwe-rw-field">
			<label for="mwe-rwl-name-input">{{_ "mwe-recwiz-locutor-name"}}</label>
			{{& locutor.name}}
		</div>
		<div id="mwe-rwl-gender-field" class="mwe-rw-field">
			<label for="mwe-rwl-gender-input">{{_ "mwe-recwiz-locutor-gender"}}</label>
		</div>
		<div id="mwe-rwl-languages-field" class="mwe-rw-field">
			<label for="mwe-rwl-languages-input">{{_ "mwe-recwiz-locutor-languages"}}</label>
		</div>
		<div id="mwe-rwl-location-field" class="mwe-rw-field">
			<label for="mwe-rwl-location-input">{{_ "mwe-recwiz-locutor-location"}}</label>
		</div>
		<div id="mwe-rwl-license-field" class="mwe-rw-field">
			<label for="mwe-rwl-license-input">{{_ "mwe-recwiz-locutor-license"}}</label>
		</div>
	</section>
</div>
