<div id="mwe-rw">
	<ol id="mwe-rw-steps">
		<li>{{_ "mwe-recwiz-step-tutorial"}}</li>
		<li>{{_ "mwe-recwiz-step-locutor"}}</li>
		<li>{{_ "mwe-recwiz-step-details"}}</li>
		<li>{{_ "mwe-recwiz-step-studio"}}</li>
		<li>{{_ "mwe-recwiz-step-publish"}}</li>
	</ol>

	<div id="mwe-rw-spinner" class="mwe-rw-spinner">
		<img src="{{wgExtensionAssetsPath}}/RecordWizard/modules/images/Spinner_font_awesome.svg" width="40" height="40" />
	</div>

	<div id="mwe-rw-content">
		{{>tutorial}}
		{{>locutor}}
		{{>details}}
		{{>audiostudio}}
		{{>videostudio}}
		{{>publish}}
	</div>
</div>
