<h2 id="mwe-rw-title">Enregistrer une voix</h2>
<div id="mwe-rw">
	<ul id="mwe-rw-steps">
		<li><span class="mwe-rw-step-marker">1</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-tutorial"}}</li>
		<li><span class="mwe-rw-step-marker">2</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-locutor"}}</li>
		<li class="active"><span class="mwe-rw-step-marker">3</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-details"}}</li>
		<li><span class="mwe-rw-step-marker">4</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-studio"}}</li>
		<li><span class="mwe-rw-step-marker">5</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-publish"}}</li>
	</ul>

	<div id="mwe-rw-main">
		<div id="mwe-rw-content">
			<div id="mwe-rw-spinner" class="mwe-rw-content mwe-rw-spinner"><img src="{{wgExtensionAssetsPath}}/RecordWizard/images/Spinner_font_awesome.svg" width="40" height="40" /></div>
			<div class="mwe-rw-content" id="mwe-rw-tutorial">{{>tutorial}}</div>
			<div class="mwe-rw-content" id="mwe-rw-locutor">{{>locutor}}</div>
			<div class="mwe-rw-content active" id="mwe-rw-details">{{>details}}</div>
			<div class="mwe-rw-content" id="mwe-rw-audiostudio">{{>audiostudio}}</div>
			<div class="mwe-rw-content" id="mwe-rw-videostudio">{{>videostudio}}</div>
			<div class="mwe-rw-content" id="mwe-rw-publish">{{>publish}}</div>
		</div>
		<div id="mwe-rw-navigation">
			{{&nav.cancelButton}}
			{{&nav.prevButton}}
			{{&nav.nextButton}}
		</div>
	</div>
</div>
<!--v2-->
