<h2 id="mwe-rw-title">Enregistrer une voix</h2>
<div id="mwe-rw">
	<ul id="mwe-rw-steps">
		<li :class="state.step === 'tutorial' ? 'active' : null"><span class="mwe-rw-step-marker">1</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-tutorial"}}</li>
		<li :class="state.step === 'locutor' ? 'active' : null"><span class="mwe-rw-step-marker">2</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-locutor"}}</li>
		<li :class="state.step === 'details' ? 'active' : null"><span class="mwe-rw-step-marker">3</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-details"}}</li>
		<li :class="state.step === 'studio' ? 'active' : null"><span class="mwe-rw-step-marker">4</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-studio"}}</li>
		<li :class="state.step === 'publish' ? 'active' : null"><span class="mwe-rw-step-marker">5</span><span class="mwe-rw-step-check"><img src="{{wgExtensionAssetsPath}}/RecordWizard/icons/done.svg" /></span>{{_ "mwe-recwiz-step-publish"}}</li>
	</ul>

	<div id="mwe-rw-main">
		<div id="mwe-rw-content">
			<div id="mwe-rw-spinner" class="mwe-rw-content mwe-rw-spinner"><img src="{{wgExtensionAssetsPath}}/RecordWizard/images/Spinner_font_awesome.svg" width="40" height="40" /></div>
			<div class="mwe-rw-content" id="mwe-rw-tutorial" v-if="state.step === 'tutorial'">{{>tutorial}}</div>
			<div class="mwe-rw-content" id="mwe-rw-locutor" v-if="state.step === 'locutor'">{{>locutor}}</div>
			<div class="mwe-rw-content" id="mwe-rw-details" v-if="state.step === 'details'">{{>details}}</div>
			<div class="mwe-rw-content" id="mwe-rw-studio" v-if="state.step === 'studio'">{{>studio}}</div>
			<div class="mwe-rw-content" id="mwe-rw-publish" v-if="state.step === 'publish'">{{>publish}}</div>
		</div>
		<div id="mwe-rw-navigation">
			<ooui-button id="mwe-rw-cancel" label="{{_ "mwe-recwiz-cancel"}}" :framed="false" @click="cancel()"></ooui-button>
			<ooui-button id="mwe-rw-prev" label="{{_ "mwe-recwiz-previous"}}" flags="progressive" :framed="false" icon="previous" @click="prev()" v-show="state.step !== 'tutorial'"></ooui-button>
			<ooui-button id="mwe-rw-next" label="{{_ "mwe-recwiz-next"}}" flags="progressive primary" icon="next" @click="next()" v-show="state.isBrowserReady"></ooui-button>
		</div>
	</div>
</div>
<!--v2-->
