<div class="mwe-rw-content-title">
	<h3>{{_ "mwe-recwiz-studio-title"}}</h3>
	<ooui-popup>
		<template v-slot:trigger>
			<i id="mwe-rws-settings" class="mwe-rw-topicon"></i>
		</template>
		<template v-slot:content>
			<div v-if="metadata.media === 'audio'">
				<h4>{{_ "mwe-recwiz-settings-audiorecording"}}</h4>
				<label>{{_ "mwe-recwiz-settings-startthreshold"}}</label>
				<ooui-numberinput v-model="audioParams.startThreshold" :min="0" :max="100" :label="'%'" :percentage="true"></ooui-numberinput>
				<label>{{_ "mwe-recwiz-settings-stopthreshold"}}</label>
				<ooui-numberinput v-model="audioParams.stopThreshold" :min="0" :max="100" :label="'%'" :percentage="true"></ooui-numberinput>
				<label>{{_ "mwe-recwiz-settings-saturationthreshold"}}</label>
				<ooui-numberinput v-model="audioParams.saturationThreshold" :min="0" :max="100" :label="'%'" :percentage="true"></ooui-numberinput>
				<label>{{_ "mwe-recwiz-settings-stopduration"}}</label>
				<ooui-numberinput v-model="audioParams.stopDuration" :min="0" :max="5" :step="0.05" :label="'{{_ "mwe-recwiz-settings-sec"}}'"></ooui-numberinput>
				<label>{{_ "mwe-recwiz-settings-marginbefore"}}</label>
				<ooui-numberinput v-model="audioParams.marginBefore" :min="0" :max="5" :step="0.05" :label="'{{_ "mwe-recwiz-settings-sec"}}'"></ooui-numberinput>
				<label>{{_ "mwe-recwiz-settings-marginafter"}}</label>
				<ooui-numberinput v-model="audioParams.marginAfter" :min="0" :max="5" :step="0.05" :label="'{{_ "mwe-recwiz-settings-sec"}}'"></ooui-numberinput>
			</div>
			<div v-if="metadata.media === 'video'">
				<h4>{{_ "mwe-recwiz-settings-videorecording"}}</h4>
				<label>{{_ "mwe-recwiz-settings-durationtorecord"}}</label>
				<ooui-buttonselect v-model="videoParams.recordDuration" :options="options.recordDuration"></ooui-buttonselect>
				<label>{{_ "mwe-recwiz-settings-delaybetweenrecords"}}</label>
				<ooui-buttonselect v-model="videoParams.beforeStart" :options="options.beforeStart"></ooui-buttonselect>
			</div>
		</template>
	</ooui-popup>
	<ooui-simpledialog name="shortcuts" size="large">
		<template v-slot:trigger>
			<i id="mwe-rws-shortcuts" class="mwe-rw-topicon"></i>
		</template>
		<template v-slot:content>
			<div id="mwe-rws-shortcuts-content">
				<h4>{{_ "mwe-recwiz-shortcuts-title"}}</h4>
				<section>
					<div>
						<kbd class="mwe-rw-key">←</kbd>
						<div>{{_ "mwe-recwiz-shortcuts-previous-word"}}</div>
					</div>
					<div>
						<kbd class="mwe-rw-key">→</kbd>
						<div>{{_ "mwe-recwiz-shortcuts-next-word"}}</div>
					</div>
					<div>
						<kbd class="mwe-rw-key">del</kbd>
						<div>{{_ "mwe-recwiz-shortcuts-delete-recording"}}</div>
					</div>
					<div>
						<kbd class="mwe-rw-key">P</kbd>
						<div>{{_ "mwe-recwiz-shortcuts-listen-recording"}}</div>
					</div>
					<div>
						<kbd class="mwe-rw-key mwe-rw-key-long">space</kbd>
						<div>{{_ "mwe-recwiz-shortcuts-toggle-recording"}}</div>
					</div>
				</section>
			</div>
		</template>
	</ooui-simpledialog>
</div>
<div class="mwe-rw-section-group" :class="( metadata.media === 'audio' ? 'mwe-rws-audio' : 'mwe-rws-video' ) + ' ' + ( isRecording ? 'mwe-rws-recording' : '' )">
	<section>
		<ul id="mwe-rws-list" class="mwe-rw-list">
			<ll-listitem v-for="(word, index) in words" :key="index" :word="word" :class="selectedArray[ index ]" @click="selectWord( index )" @play="playRecord( word )" @remove="removeRecord( word )"></ll-listitem>
		</ul>
	</section>
	<section>
		<div id="mwe-rws-info-audio" class="mwe-rw-info">
			{{&_ "mwe-recwiz-studio-info-audio" "<i></i>"}}
		</div>
		<div id="mwe-rws-info-video" class="mwe-rw-info">
			{{&_ "mwe-recwiz-studio-info-video" "<i></i>"}}
		</div>
		<div id="mwe-rws-core" class="mwe-rw-core">
			<div id="mwe-rws-itembox" class="mwe-rw-itembox">
				<div id="mwe-rws-item" class="mwe-rw-item" v-html="words[ selected ]"></div>
				<ooui-button id="mwe-rws-skip" label="{{_ "mwe-recwiz-studio-skip"}}" icon="next" :framed="false" @click="moveForward"></ooui-button>
			</div>
			<video id="mwe-rws-videoplayer" v-show="videoStream" controls></video>
		</div>
		<div id="mwe-rws-actions" class="mwe-rw-actions">
			<ooui-button id="mwe-rws-record" icon="ll-record" flags="primary progressive" @click="toggleRecord" :disabled="metadata.media === 'video' && videoStream === null"></ooui-button>
			<ll-vumeter id="mwe-rws-vumeter" :value="vumeter" :class="saturated ? 'mwe-rws-saturated' : ''"></ll-vumeter>
			<div id="mwe-rws-record-indicator">
				<div v-show="countdown === 0 && ! saturated" id="mwe-rws-recording"></div>
				<div v-show="saturated">SAT</div>
				<div v-show="countdown > 0" v-html="countdown"></div>
			</div>
			<div id="mwe-rws-counter" class="mwe-rw-counter">
				<span v-html="statusCount.stashed"></span> / <span v-html="words.length"></span>
				<span class="mwe-rw-othercounter">
					<span class="mwe-rw-errorcounter" v-show="statusCount.error > 0">
						<i></i>
						<span v-html="statusCount.error"></span>
					</span>
					<span class="mwe-rw-progresscounter" v-show="statusCount.stashing > 0">
						<i></i>
						<span v-html="statusCount.stashing"></span>
					</span>
				</span>
			</div>
		</div>
	</section>
</div>
