<h3>{{_ "mwe-recwiz-studio-title"}}</h3>
<i id="mwe-rws-shortcuts"></i>
<div class="mwe-rw-section-group" :class="( metadata.media === 'audio' ? 'mwe-rws-audio' : 'mwe-rws-video' ) + ' ' + ( isRecording ? 'mwe-rws-recording' : '' )">
	<section>
		<ul id="mwe-rws-list" class="mwe-rw-list">
			<li v-for="(word, index) in words" :class="itemClass( word )" @click="selectWord( index )">
				<span v-html="word"></span>
				<i class="mwe-rws-play" @click.stop.prevent="playWord( word )"></i>
				<i class="mwe-rws-again" @click.stop.prevent="removeRecord( word )"></i>
			</li>
		</ul>
	</section>
	<section>
		<div id="mwe-rws-info-audio" class="mwe-rw-info">
			{{&_ "mwe-recwiz-studio-info-audio" "<i></i>"}}
		</div>
		<div id="mwe-rws-info-video" class="mwe-rw-info">
			{{&_ "mwe-recwiz-studio-info-video" "<i></i>"}}
		</div>
		<div id="mwe-rws-core" class="mwe-rw-core">
			<div id="mwe-rws-itembox" class="mwe-rw-itembox">
				<div id="mwe-rws-item" class="mwe-rw-item" v-html="words[ selected ]"></div>
				<ooui-button id="mwe-rws-skip" label="{{_ "mwe-recwiz-studio-skip"}}" icon="next" :framed="false" @click="moveForward"></ooui-button>
			</div>
			<video src="./tty.webm" controls></video>
		</div>
		<div id="mwe-rws-actions" class="mwe-rw-actions">
			<ooui-button id="mwe-rws-record" icon="ll-record" flags="primary progressive" @click="toggleRecord"></ooui-button>
			<ul id="mwe-rws-vumeter" :class="saturated ? 'mwe-rws-saturated' : ''">
				<li v-for="n in 15" :class="n <= vumeter ? 'mwe-rws-vu-active' : ''"></li>
			</ul>
			<div id="mwe-rws-recording"></div>
			<div id="mwe-rws-timer">00:00</div>
		</div>
	</section>
</div>
