<h3>{{_ "mwe-recwiz-tutorial-title"}}</h3>
<div class="mwe-rw-section-group">
	<section>
		{{&__ "mwe-recwiz-tutorial-help"}}
		<div id="mwe-rwt-info">
			{{&__ "mwe-recwiz-tutorial-info"}}
		</div>
	</section>
	<section>
		{{&__ "mwe-recwiz-tutorial-mictester-info"}}
		{{& tutorial.testButton}}
		<div id="mwe-rwt-testrecord">{{_ "mwe-recwiz-tutorial-mictester-recording"}}</div>
		<div id="mwe-rwt-testplay">{{_ "mwe-recwiz-tutorial-mictester-playing"}}</div>
		<div id="mwe-rwt-testwait">{{_ "mwe-recwiz-tutorial-mictester-waiting"}}</div>
	</section>
</div>
