/* DETAILS */
#mwe-rw-details .mwe-rw-section-group {
	display: flex;
	flex-wrap: wrap-reverse;
	padding: 0px;
}
#mwe-rw-details section:first-child {
	flex: 600;
	min-width: 400px;
	border-right: 1px solid rgba(156, 173, 210, 0.5);
}
@media screen and (max-width: 399px) {
	#mwe-rw-details section:first-child {
		min-width: 280px;
	}
}
#mwe-rw-details section:last-child {
	flex: 420;
	min-width: 285px;
	padding: 21px 24px 42px 38px;
	box-sizing: border-box;
}

/* Left column - input area */
#mwe-rwd-input {
	background-color: #e9ebf5;
	padding: 16px 25px 8px 25px;
	position: relative;
}
#mwe-rwd-input::after {
	display: inline-block;
	content: '';

	position: absolute;
	bottom: -17px;
	right: 30px;

	width: 36px;
	height: 36px;

	transform: rotate(45deg);
	background: linear-gradient(-45deg, #e9ebf5 50%, transparent 50%);
}

#mwe-rwd-word-input {
	border-color: #3366cc;
	border-radius: 3px;
	padding-left: 14px;
	padding-right: 40px;
	height: 45px;

	font-size: 17px;
	line-height: 20px;
}
#mwe-rwd-word-input::placeholder {
	color: rgba(23, 68, 153, 0.6);
}
#mwe-rwd-add {
	position: absolute;
	top: 28px;
	right: 30px;
}
#mwe-rwd-add > a {
	border-radius: 100%;
	padding: 0;
	width: 20px;
	height: 20px;
	min-height: 0;
}
#mwe-rwd-add > a > .oo-ui-iconElement-icon {
	left: 0;
	width: 18px;
	min-width: 18px;
	top: -1px;
	margin-left: 0;
}

#mwe-rwd-input-help {
	font-size: 13px;
	line-height: 20px;
	color: #7a8496;
	padding-top: 8px;
	padding-left: 24px;
	position: relative;
}
#mwe-rwd-input-help::before {
	display: block;
	content: '';

	position: absolute;
	top: 10px;
	left: 0px;

	width: 16px;
	height: 16px;
	background-image: url('../icons/alert.svg');
	background-size: 16px 16px;
}

/* Left column - list */
#mwe-rwd-list {
	height: 285px;
	overflow-y: scroll;

	margin: 10px 0px 10px 0px;
	list-style: none;
}
#mwe-rwd-list li {
	position: relative;

	font-size: 16px;
	padding: 10px 10px 10px 53px;
}
#mwe-rwd-list i {
	display: none;
	width: 16px;
	height: 16px;

	background-repeat: no-repeat;

}
#mwe-rwd-list li:hover i {
	display: inline-block;
}
#mwe-rwd-list .mwe-rwd-handle {
	position: absolute;
	left: 25px;
	top: 12px;

	background-image: url('../icons/move.svg');
}
#mwe-rwd-list .mwe-rwd-trash {
	position: relative;
	top: 2px;
	left: 12px;
	background-image: url('../icons/delete.svg');
}



/* Left column - action buttons */
#mwe-rwd-actions {
	display: flex;
	flex-wrap: wrap-reverse;

	border-top: 1px solid rgba(156, 173, 210, 0.5);
}
#mwe-rwd-actions > * {
	height: 68px;
}
#mwe-rwd-actions .oo-ui-labelElement-label {
	font-family: "HelveticaNeue";
}
#mwe-rwd-actions .oo-ui-buttonElement-button {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	border: 0;
}
#mwe-rwd-actions > * {
	display: flex;
	align-items: center;
}
#mwe-rwd-actions .oo-ui-buttonElement ~ .oo-ui-buttonElement {
	border-left: 1px solid rgba(156, 173, 210, 0.5);
}
#mwe-rwd-actions .oo-ui-buttonElement:first-child .oo-ui-buttonElement-button {
	border-bottom-left-radius: 12px;
}
#mwe-rwd-actions .oo-ui-buttonElement.oo-ui-flaggedElement-destructive .oo-ui-buttonElement-button:active {
	background-color: #fee7e6;
}
#mwe-rwd-deduplicate {
	flex: 333;
	min-width: 280px;
	margin-right: 0;
}
#mwe-rwd-deduplicate .oo-ui-labelElement-label {
	color: rgba(34, 34, 34, 0.6);
}
#mwe-rwd-clear {
	flex: 180;
	min-width: 115px;
}

@media screen and (max-width: 739px) {
	#mwe-rw-details section:first-child {
		border-right: 0px;
	}
	#mwe-rwd-actions .oo-ui-buttonElement:last-child .oo-ui-buttonElement-button {
		border-bottom-left-radius: 12px;
	}
}

/* Rigth column - lang field */
#mwe-rwd-lang-field label {
	font-size: 17px;
}
#mwe-rwd-lang {
	margin-top: 12px;
}
#mwe-rwd-randomise {
	margin-top: 12px;
	margin-right: 5px;
}

/* Rigth column - generator buttons group */
#mwe-rwd-generators-field {
	margin-top: 28px;

	font-size: 16px;
	line-height: 1.5;
	color: #a2a9b1;
}
#mwe-rwd-generators-field h4 {
	font-family: HelveticaNeue;
	font-weight: bold;
	color: black;
}

#mwe-rwd-generator-buttons {
	display: flex;
	flex-direction: column;
}
#mwe-rwd-generator-buttons .oo-ui-buttonWidget {
	margin-top: 16px;
	margin-right: 0;
}
#mwe-rwd-generator-buttons .oo-ui-buttonWidget > .oo-ui-buttonElement-button {
	width: 100%;
	height: 48px;
	font-size: 16px;
	text-align: left;
	padding-left: 70px;
	line-height: 1.6;
	font-weight: normal;
}
#mwe-rwd-generator-buttons .oo-ui-iconElement-icon {
	width: 32px !important;
	background-repeat: no-repeat;
}
.oo-ui-icon-ll-list {
	background-image: url('../icons/ll-mini.svg');
}
.oo-ui-icon-ll-nearby {
	background-image: url('../icons/explore.svg');
}
.oo-ui-icon-ll-wmcategory {
	background-image: url('../icons/wikipedia.svg');
}
