/* STUDIO */
/* Note that a lot of code here is shared with the publish step */

#mwe-rw-studio .mwe-rw-section-group {
	height: 460px;
}
.mwe-rw-topicon {
	display: block;
	cursor: pointer;

	width: 35px;
	height: 35px;
	padding: 0;

	background-position: center;
	background-repeat: no-repeat;
}
#mwe-rws-settings {
	background-image: url('../icons/settings.svg');
	background-size: 30px 30px;
	margin-right: 10px;
}
#mwe-rw-studio .mwe-rw-content-title .oo-ui-numberInputWidget-buttoned > .oo-ui-labelElement-label {
	right: 35px;
}
#mwe-rw-studio .oo-ui-popupWidget-body {
	overflow-x: hidden;
}
#mwe-rws-shortcuts {
	background-image: url('../icons/keyboard.svg');
	background-size: 35px 35px;
}

/* Shortcuts dialog box */
#mwe-rws-shortcuts-content {
	padding: 30px;
}
#mwe-rws-shortcuts-content h4 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
#mwe-rws-shortcuts-content > section {
	display: flex;
	flex-wrap: wrap;
}
#mwe-rws-shortcuts-content > section > div {
	flex: 1 1 250px;

	display: flex;
	align-items: center;

	margin-bottom: 30px;
	padding-right: 15px;
}
.mwe-rw-key {
	box-sizing: border-box;
	display: inline-flex;
    align-items: center;
    justify-content: center;

	flex-shrink: 0;

    width: 55px;
    height: 55px;
    background-color: #eaeaea;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px #bfbfbf;
	margin-right: 15px;

    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 18px;
}
.mwe-rw-key.mwe-rw-key-long {
	align-items: flex-end;
	justify-content: flex-start;

	width: 120px;
	padding: 8px;

	font-size: 14px;
}
.ooui-dialog-closebutton {
	float: right;
}

/* Section group */
#mwe-rw-studio .mwe-rw-section-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0;
}
#mwe-rw-studio section:first-child {
	width: 38%;
	height: 100%;
	align-self: stretch;
	overflow-y: scroll;
	border-right: 1px solid rgba(156,173,210,0.5);
}

#mwe-rw-studio section:last-child {
	display: flex;
	flex: 1;
	max-width: 62%;
	flex-direction: column;
	justify-content: space-between;
}
@media screen and (max-width: 799px) {
	#mwe-rw-studio .mwe-rw-section-group {
		flex-direction: column;
		height: 640px;
	}
	#mwe-rw-studio section:first-child {
		width: 100%;
		max-height: 33%;
		border-right: 0px;
		border-bottom: 1px solid rgba(156,173,210,0.5);
	}
	#mwe-rw-studio section:last-child {
		max-width: 100%;
		width: 100%;
	}
}

/* left column */
.mwe-rw-list {
	margin: 10px 0px 10px 0px;
	list-style: none;
}
.mwe-rw-list li {
	position: relative;
	box-sizing: border-box;

	font-size: 16px;
	color: black;
	padding: 6px 75px 6px 38px;
	margin-left: 6px;
	margin-right: 6px;
	border-radius: 16px;

	overflow-wrap: break-word;
	word-wrap: break-word;
}
.mwe-rw-list li.mwe-rw-selected {
	font-weight: bold;
	background-color: #f8f9fa;
}
.mwe-rw-list li:hover {
	background-color: rgba(216, 222, 228, 0.5);
	font-weight: bold;
}
.mwe-rw-list li.mwe-rws-stashing,
.mwe-rw-list li.mwe-rws-stashed {
	color: #9daed2;
}
.mwe-rw-list li.mwe-rws-stashing:hover,
.mwe-rw-list li.mwe-rws-stashed:hover,
.mwe-rw-list li.mwe-rws-stashing.mwe-rw-selected,
.mwe-rw-list li.mwe-rws-stashed.mwe-rw-selected {
	color: #174499;
}
/* Status icon */
.mwe-rw-list li::before {
	position: absolute;
	top: 8px;
	left: 13px;

	content: '';
	width: 16px;
	height: 16px;

	background-position: center;
	background-repeat: no-repeat;
}
.mwe-rw-list li.mwe-rws-stashing::before,
.mwe-rw-list li.mwe-rwp-uploading::before,
.mwe-rw-list li.mwe-rwp-finalizing::before,
.mwe-rw-progresscounter i {
	width: 14px;
	height: 14px;
	background-size: 14px 14px;
	background-image: url('../icons/spinner.svg');
	animation: spinner 1s infinite steps(8);
}
.mwe-rw-list li.mwe-rws-stashed::before,
.mwe-rw-list li.mwe-rwp-done::before {
	background-image: url('../icons/download-done.svg');
}
.mwe-rw-list li.mwe-rw-error::before,
.mwe-rw-errorcounter i {
	width: 16px;
	height: 16px;
	background-image: url('../icons/error.svg');
	background-size: 16px 16px;
}
.mwe-rws-recording .mwe-rw-list li.mwe-rw-selected::before,
#mwe-rwp-list li.mwe-rw-selected:not(.mwe-rwp-uploading):not(.mwe-rwp-finalizing)::before {
	background-image: url('../icons/play.svg');
}
/* action icons */
.mwe-rw-list i {
	display: none;
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
}
.mwe-rw-list li.mwe-rws-stashing:hover i.mwe-rws-again,
.mwe-rw-list li.mwe-rws-stashed:hover i {
	display: inline-block;
	cursor: pointer;
}
.mwe-rws-audio .mwe-rw-list i.mwe-rws-play {
	top: 4px;
	right: 35px;
	background-image: url('../icons/play.svg');
}
.mwe-rws-video li.mwe-rws-stashed:hover i.mwe-rws-play {
	display: none;
}
.mwe-rw-list i.mwe-rwp-play {
	top: 4px;
	right: 8px;
	background-image: url('../icons/play.svg');
}
.mwe-rw-list i.mwe-rws-again {
	top: 4px;
	right: 8px;
	background-image: url('../icons/status-replay.svg');
}

/* right column - info message */
.mwe-rw-info {
	margin: 25px 35px 0px 35px;

	font-size: 17px;
	line-height: 20px;
	color: #9daed2;
	text-align: center;
}
.mwe-rw-info i {
	display: inline-block;
	width: 35px;
	height: 35px;

	position: relative;
	top: 12px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}
.mwe-rws-video #mwe-rws-info-audio,
.mwe-rws-audio #mwe-rws-info-video {
	display: none;
}
#mwe-rws-info-audio i {
	background-image: url('../icons/mic-blue.svg');
}
#mwe-rws-info-video i {
	background-image: url('../icons/hands-blue.svg');
}

/* right column - core */
.mwe-rw-core {
	display: flex;
	flex-wrap: wrap-reverse;
	align-items: center;

	margin-left: 35px;
	margin-right: 35px;

	background-color: #f8f9fa;
}
.mwe-rw-core > * {
	flex: 1;
	margin: auto;
}
.mwe-rw-core > video {
	min-height: 235px;
	max-width: 50%;
}
.mwe-rw-core > audio {
	width: 50%;
	max-width: 50%;
}
.mwe-rw-itembox {
	box-sizing: border-box;
	position: relative;

	display: flex;
	align-items: center;

	padding-top: 40px;
	padding-bottom: 40px;

	min-height: 235px;
	min-width: 200px;
}
.mwe-rw-item {
	width: 100%;

	font-size: 28px;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
}
#mwe-rws-skip {
	position: absolute;
	bottom: 10px;
	right: 0;
}
#mwe-rws-skip .oo-ui-labelElement-label {
	color: #a2a9b1;
	font-family: HelveticaNeue;
	font-size: 16px;
	font-weight: bold;
}
#mwe-rws-skip .oo-ui-buttonElement-button {
    height: 32px;
    padding-top: 0.4em;

    padding-right: 28px;
    padding-left: 0.85714286em;
}
#mwe-rws-skip .oo-ui-iconElement-icon {
    height: 10px;
    width: 10px;
    top: 6px;
    min-width: unset;
	filter: invert(76%) brightness(75%) contrast(87%); /* ~ #a2a9b1 */

    left: unset; /* flip standard positionning of the icon */
    right: 10px;
}
.mwe-rws-audio #mwe-rws-core > video {
	display: none;
}

/* right column - actions */
.mwe-rw-actions {
	display: flex;
	align-items: center;
	height: 100px;
	border-top: 1px solid rgba(156, 173, 210, 0.5);

	padding-left: 35px;
	padding-right: 35px;
}
#mwe-rws-record {
	margin-right: 18px;
}
#mwe-rws-record > .oo-ui-buttonElement-button {
	width: 70px;
	height: 70px;
	border-radius: 100%;
}
#mwe-rws-record .oo-ui-iconElement-icon {
	width: 35px;
	left: 17px;
	margin-left: 0;
}
.mwe-rws-audio .oo-ui-icon-ll-record {
	background-image: url('../icons/mic-white.svg')
}
.mwe-rws-video .oo-ui-icon-ll-record {
	background-image: url('../icons/hands-white.svg')
}
.mwe-rws-video.mwe-rws-recording .oo-ui-icon-ll-record,
.mwe-rws-audio.mwe-rws-recording .oo-ui-icon-ll-record {
	background-image: url('../icons/stop.svg')
}

#mwe-rws-vumeter {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: 10px;
}
#mwe-rws-vumeter li {
	width: 9px;
	height: 23px;
	border-radius: 10px;
	background-color: #dfe6f5;
}
#mwe-rws-vumeter li + li {
	margin-left: 7px;
}
#mwe-rws-vumeter li.mwe-rws-vu-active {
	background-color: #00bd44;
}
#mwe-rws-vumeter.mwe-rws-saturated li,
#mwe-rws-vumeter.mwe-rws-saturated li.mwe-rws-vu-active {
	background-color: #dd3333;
}

#mwe-rws-record-indicator {
	color: #ff0000;
	font-size: 23px;
	font-weight: bold;
	width: 17px;
}
#mwe-rws-recording {
	position: relative;
	box-sizing: border-box;

	width: 17px;
	height: 17px;

	border: 2px solid white;
	border-radius: 100%;
}
.mwe-rws-recording #mwe-rws-recording {
	border-color: #ff0000;
}
#mwe-rws-recording::after {
	position: absolute;
	box-sizing: border-box;
	content: '';
	top: 2px;
	left: 2px;

	width: 9px;
	height: 9px;

	background-color: white;
	border-radius: 100%;
}
.mwe-rws-recording #mwe-rws-recording::after {
	background-color:#ff0000;
}

.mwe-rw-counter {
	position: relative;
	margin-left: auto;

	font-size: 23px;
	font-weight: bolder;
	letter-spacing: 0.5px;
	color: #222222;
}
.mwe-rw-othercounter {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 17px;
	width: 120px; /* hack to avoid text going back to a new line in most cases */
}
.mwe-rw-othercounter i {
	display: inline-block;
}
